/* Pagina Historia */

.historia{
    padding: 20px;
    h1{
        text-align: center;
        text-shadow: 0px 4px 13px rgba(0,0,0,0.5); 
    }
    h2{
        text-align: center;
        padding: 10px;
    }
    p{
        text-align: justify;
    }
    img{
        width: 100%;
    }
    
}

.bg-mision{
    background-color: skyblue;
}